* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

header {
    background-color: white;
}

#logo {
    vertical-align: middle;
    margin-left: 15px;
    margin-bottom: 1%;
    margin-top: 15px;

}

#scritta {
    vertical-align: middle;
    font-size: 200%;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    margin: 60px auto;
    background-color: white;
    height: 900px;
    width: 80%;
    border-radius: 10px;
}

.bottoni span {
    padding: 10px 15px;
    border-radius: 10px;
}

.bottoni {
    padding: 20px 50px;
}

.botton-task {
    background-color: #47acf1;
    color: white;
}

.botton-section {
    background-color: white;
    color: #d1d5da;
    border: 1px solid #d1d5da;
}

